In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

## View Information on Database

In [13]:
%%sql
SELECT name, type
FROM sqlite_master
WHERE type IN ("table", "view");

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

## Analyze Genre/Album/Artist Popularity

We see that the most popular music genre is Rock in the US, and it is by a lot. More than 50% of tracks sold in the US are from this genre. Other albums on the top 3 list are alternative & punk, and metal

Recommendations based on this information include to stock the store with mostly Rock music albums

In [89]:
%%sql
SELECT
    name,
    quantity,
    CAST(quantity AS FLOAT) / total AS pct_quantity
FROM (
    WITH nq AS (
        SELECT
            genre.name,
            SUM(invoice_line.quantity) AS quantity
        FROM genre
        LEFT JOIN track ON track.genre_id = genre.genre_id
        LEFT JOIN invoice_line ON invoice_line.track_id = track.track_id
        LEFT JOIN invoice ON invoice.invoice_id = invoice_line.invoice_id
        LEFT JOIN customer ON customer.customer_id = invoice.customer_id
        WHERE LOWER(customer.country) = "usa"
        GROUP BY genre.genre_id
    )
    SELECT
        nq.name,
        nq.quantity,
        CASE WHEN nq.quantity NOT NULL THEN (
            SELECT SUM(nq.quantity)
            FROM nq
        )
        END  AS total
    FROM nq AS nq
)
ORDER BY pct_quantity DESC

Done.

[('Rock', 561, 0.5337773549000951),
 ('Alternative & Punk', 130, 0.12369172216936251),
 ('Metal', 124, 0.11798287345385347),
 ('R&B/Soul', 53, 0.05042816365366318),
 ('Blues', 36, 0.03425309229305423),
 ('Alternative', 35, 0.03330161750713606),
 ('Latin', 22, 0.02093244529019981),
 ('Pop', 22, 0.02093244529019981),
 ('Hip Hop/Rap', 20, 0.019029495718363463),
 ('Jazz', 14, 0.013320647002854425),
 ('Easy Listening', 13, 0.012369172216936251),
 ('Reggae', 6, 0.005708848715509039),
 ('Electronica/Dance', 5, 0.004757373929590866),
 ('Classical', 4, 0.003805899143672693),
 ('Heavy Metal', 3, 0.0028544243577545195),
 ('Soundtrack', 2, 0.0019029495718363464),
 ('TV Shows', 1, 0.0009514747859181732)]

Let's see the most popular artists in the top 3 most popular genres in the US

In [109]:
%%sql
WITH nq AS (
        SELECT
            album.title AS album_title,
            artist.name AS artist_name,
            genre.name AS genre,
            track.name AS track_name,
            customer.country,
            SUM(invoice_line.quantity) AS quantity
        FROM genre
        LEFT JOIN track ON track.genre_id = genre.genre_id
        LEFT JOIN album ON album.album_id = track.album_id
        LEFT JOIN artist ON artist.artist_id = album.artist_id
        LEFT JOIN invoice_line ON invoice_line.track_id = track.track_id
        LEFT JOIN invoice ON invoice.invoice_id = invoice_line.invoice_id
        LEFT JOIN customer ON customer.customer_id = invoice.customer_id
        WHERE
            LOWER(customer.country) = "usa"
            AND genre.name IN ("Rock", "Alternative & Punk", "Metal")
        GROUP BY album.album_id
    )
SELECT
    *
FROM nq
GROUP BY album_title
ORDER BY quantity DESC

Done.

[('Are You Experienced?', 'Jimi Hendrix', 'Rock', 'Highway Chile', 'USA', 28),
 ('From The Muddy Banks Of The Wishkah [live]', 'Nirvana', 'Rock', 'Blew', 'USA', 28),
 ('The Doors', 'The Doors', 'Rock', 'The End', 'USA', 27),
 ('Green', 'R.E.M.', 'Alternative & Punk', 'Untitled', 'USA', 25),
 ('Hot Rocks, 1964-1971 (Disc 1)', 'The Rolling Stones', 'Rock', "Let's Spend The Night Together", 'USA', 25),
 ('Use Your Illusion I', "Guns N' Roses", 'Rock', 'Coma', 'USA', 23),
 ('Mezmerize', 'System Of A Down', 'Metal', 'Lost in Hollywood', 'USA', 22),
 ('20th Century Masters - The Millennium Collection: The Best of Scorpions', 'Scorpions', 'Rock', 'Send Me an Angel', 'USA', 21),
 ('Facelift', 'Alice In Chains', 'Rock', 'Real Thing', 'USA', 21),
 ('The Best Of Van Halen, Vol. I', 'Van Halen', 'Rock', 'Me Wise Magic', 'USA', 21),
 ('American Idiot', 'Green Day', 'Alternative & Punk', 'Whatsername', 'USA', 20),
 ('Faceless', 'Godsmack', 'Metal', 'Serenity', 'USA', 20),
 ('Live On Two Legs [live]', 'Pearl Jam', 'Rock', "F*Ckin' Up", 'USA', 19),
 ('Minha História', 'Os Mutantes', 'Alternative & Punk', 'Meu Refrigerador Não Funciona', 'USA', 19),
 ('Black Sabbath', 'Black Sabbath', 'Metal', 'Warning', 'USA', 18),
 ('For Those About To Rock We Salute You', 'AC/DC', 'Rock', 'Spellbound', 'USA', 16),
 ('My Generation - The Very Best Of The Who', 'The Who', 'Rock', 'You Better You Bet', 'USA', 16),
 ('In Your Honor [Disc 2]', 'Foo Fighters', 'Rock', 'Razor', 'USA', 14),
 ('A-Sides', 'Soundgarden', 'Rock', 'Bleed Together', 'USA', 13),
 ('Diver Down', 'Van Halen', 'Rock', 'Happy Trails', 'USA', 13),
 ('Let There Be Rock', 'AC/DC', 'Rock', 'Whole Lotta Rosie', 'USA', 13),
 ('One By One', 'Foo Fighters', 'Alternative & Punk', 'Come Back', 'USA', 13),
 ('The Singles', 'The Clash', 'Alternative & Punk', 'Should I Stay Or Should I Go', 'USA', 13),
 ('International Superhits', 'Green Day', 'Alternative & Punk', "Macy's Day Parade", 'USA', 12),
 ('O Samba Poconé', 'Skank', 'Rock', 'Poconé', 'USA', 11),
 ('Dark Side Of The Moon', 'Pink Floyd', 'Rock', 'Eclipse', 'USA', 10),
 ('Greatest Hits II', 'Queen', 'Rock', 'One Vision', 'USA', 10),
 ("Vault: Def Leppard's Greatest Hits", 'Def Leppard', 'Rock', 'Hysteria', 'USA', 10),
 ('Voodoo Lounge', 'The Rolling Stones', 'Rock', 'Thru And Thru', 'USA', 10),
 ('Contraband', 'Velvet Revolver', 'Rock', 'Dirty Little Thing', 'USA', 9),
 ('Get Born', 'JET', 'Alternative & Punk', 'Timothy', 'USA', 9),
 ('The Police Greatest Hits', 'The Police', 'Rock', 'Message in a Bottle (new classic rock mix)', 'USA', 9),
 ('Use Your Illusion II', "Guns N' Roses", 'Metal', 'My World', 'USA', 9),
 ('By The Way', 'Red Hot Chili Peppers', 'Rock', 'Warm Tape', 'USA', 8),
 ('Greatest Hits I', 'Queen', 'Rock', 'We Are The Champions', 'USA', 8),
 ('Jagged Little Pill', 'Alanis Morissette', 'Rock', 'Wake Up', 'USA', 8),
 ('Living After Midnight', 'Judas Priest', 'Metal', 'Tyrant (Live)', 'USA', 8),
 ('Plays Metallica By Four Cellos', 'Apocalyptica', 'Metal', 'Wherever I May Roam', 'USA', 8),
 ('Big Ones', 'Aerosmith', 'Rock', 'Angel', 'USA', 7),
 ('Californication', 'Red Hot Chili Peppers', 'Rock', 'This Velvet Glove', 'USA', 7),
 ('Chronicle, Vol. 2', 'Creedence Clearwater Revival', 'Rock', 'Molina', 'USA', 7),
 ('Emergency On Planet Earth', 'Jamiroquai', 'Rock', 'Revolution 1993', 'USA', 7),
 ('Greatest Hits', 'Lenny Kravitz', 'Metal', 'The Deeper The Love', 'USA', 7),
 ('Nevermind', 'Nirvana', 'Rock', 'On A Plain', 'USA', 7),
 ('The Best Of R.E.M.: The IRS Years', 'R.E.M.', 'Alternative & Punk', 'The Finest Worksong', 'USA', 7),
 ('Black Sabbath Vol. 4 (Remaster)', 'Black Sabbath', 'Metal', 'Under The Sun/Every Day Comes and Goes', 'USA', 6),
 ('Core', 'Stone Temple Pilots', 'Rock', 'Where The River Goes', 'USA', 6),
 ('New Adventures In Hi-Fi', 'R.E.M.', 'Rock', 'So Fast, So Numb', 'USA', 6),
 ('Ace Of Spades', 'Motörhead', 'Metal', 'Bite The Bullet', 'USA', 5),
 ('Chronicle, Vol. 1', 'Creedence Clearwater Revival', 'Rock', 'Hey Tonight', 'USA', 5),
 ('Motley Crue Greatest Hits', 'Mötley Crüe', 'Metal', 'Too Fast For Love', 'USA', 5),
 ('Retrospective I (1974-1980)', 'Rush', 'Rock', 'Finding My Way', 'USA', 5),
 ('Van Halen', 'Van Halen', 'Rock', 'Little Dreamer', 'USA', 5),
 ('Vs.', 'Pearl Jam', 'Rock', 'Indifference', 'USA', 5),
 ('Misplaced Childhood', 'Marillion', 'Rock', 'Blind Curve: Vocal Under A Bloodlight / Passing Strangers / Mylo / Perimeter Walk / Threshold', 'USA', 4),
 ('Riot Act', 'Pearl Jam', 'Rock', 'Help Help', 'USA', 4),
 ('The Best Of Men At Work', 'Men At Work', 'Rock', 'No Sign of Yesterday', 'USA', 4),
 ('The Colour And The Shape', 'Foo Fighters', 'Rock', 'Everlong', 'USA', 4),
 ('Van Halen III', 'Van Halen', 'Rock', 'How Many Say I', 'USA', 4),
 ('BBC Sessions [Disc 2] [live]', 'Led Zeppelin', 'Rock', 'Whole Lotta Love (Medley)', 'USA', 3),
 ('Cesta Básica', 'Raimundos', 'Alternative & Punk', 'Cajueiro', 'USA', 3),
 ('Come Taste The Band', 'Deep Purple', 'Rock', 'Drifter', 'USA', 3),
 ('Garage Inc. (Disc 2)', 'Metallica', 'Metal', 'Stone Dead Forever', 'USA', 3),
 ('Houses Of The Holy', 'Led Zeppelin', 'Rock', 'The Ocean', 'USA', 3),
 ('In Your Honor [Disc 1]', 'Foo Fighters', 'Rock', 'Hell', 'USA', 3),
 ('Load', 'Metallica', 'Metal', 'The Outlaw Torn', 'USA', 3),
 ('Rattle And Hum', 'U2', 'Rock', 'When Love Comes To Town', 'USA', 3),
 ('Raul Seixas', 'Raul Seixas', 'Rock', 'Todo Mundo Explica', 'USA', 3),
 ('ReLoad', 'Metallica', 'Metal', 'Attitude', 'USA', 3),
 ('Speak of the Devil', 'Ozzy Osbourne', 'Rock', 'Sweet Leaf', 'USA', 3),
 ('The Best Of 1980-1990', 'U2', 'Rock', 'Desire', 'USA', 3),
 ('Tribute', 'Ozzy Osbourne', 'Metal', 'No Bone Movies', 'USA', 3),
 ('War', 'U2', 'Rock', 'Surrender', 'USA', 3),
 ('A Real Live One', 'Iron Maiden', 'Metal', 'The Clairvoyant', 'USA', 2),
 ('Album Of The Year', 'Faith No More', 'Alternative & Punk', 'Home Sick Home', 'USA', 2),
 ("All That You Can't Leave Behind", 'U2', 'Rock', 'Grace', 'USA', 2),
 ('Audioslave', 'Audioslave', 'Rock', 'Exploder', 'USA', 2),
 ('Blood Sugar Sex Magik', 'Red Hot Chili Peppers', 'Alternative & Punk', 'Under The Bridge', 'USA', 2),
 ('Greatest Kiss', 'Kiss', 'Rock', "Goin' Blind", 'USA', 2),
 ('IV', 'Led Zeppelin', 'Rock', 'Misty Mountain Hop', 'USA', 2),
 ("Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 'Deep Purple', 'Rock', 'Space Trucking', 'USA', 2),
 ('Led Zeppelin III', 'Led Zeppelin', 'Rock', 'Gallows Pole', 'USA', 2),
 ('Maquinarama', 'Skank', 'Rock', 'Maquinarama', 'USA', 2),
 ('No Security', 'The Rolling Stones', 'Rock', 'The Last Time', 'USA', 2),
 ('Pearl Jam', 'Pearl Jam', 'Alternative & Punk', 'Unemployable', 'USA', 2),
 ('Physical Graffiti [Disc 2]', 'Led Zeppelin', 'Rock', 'Sick Again', 'USA', 2),
 ('Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [uk]', 'The Cult', 'Rock', 'Sun King', 'USA', 2),
 ('Santana - As Years Go By', 'Santana', 'Rock', 'Fried Neckbones And Home Fries', 'USA', 2),
 ('Slaves And Masters', 'Deep Purple', 'Rock', 'Breakfast In Bed', 'USA', 2),
 ('Surfing with the Alien (Remastered)', 'Joe Satriani', 'Rock', 'Hill of the Skull', 'USA', 2),
 ('Unplugged [live]', 'Kiss', 'Rock', 'See You Tonight', 'USA', 2),
 ('...And Justice For All', 'Metallica', 'Metal', 'To Live Is To Die', 'USA', 1),
 ('A Matter of Life and Death', 'Iron Maiden', 'Rock', 'The Pilgrim', 'USA', 1),
 ('Alcohol Fueled Brewtality Live! [Disc 1]', 'Black Label Society', 'Metal', 'Lost My Better Half', 'USA', 1),
 ('B-Sides 1980-1990', 'U2', 'Rock', 'Luminous Times (Hold On To Love)', 'USA', 1),
 ('BBC Sessions [Disc 1] [live]', 'Led Zeppelin', 'Rock', 'Dazed and Confused', 'USA', 1),
 ('Balls to the Wall', 'Accept', 'Rock', 'Balls to the Wall', 'USA', 1),
 ('Body Count', 'Body Count', 'Alternative & Punk', 'The Real Problem', 'USA', 1),
 ('Chemical Wedding', 'Bruce Dickinson', 'Metal', 'Killing Floor', 'USA', 1),
 ('Coda', 'Led Zeppelin', 'Rock', 'Ozone Baby', 'USA', 1),
 ('Deep Purple In Rock', 'Deep Purple', 'Rock', 'Flight Of The Rat', 'USA', 1),
 ('How To Dismantle An Atomic Bomb', 'U2', 'Rock', 'Original Of The Species', 'USA', 1),
 ('King For A Day Fool For A Lifetime', 'Faith No More', 'Rock', 'Ricochet', 'USA', 1),
 ('Led Zeppelin I', 'Led Zeppelin', 'Rock', 'Your Time Is Gonna Come', 'USA', 1),
 ('Led Zeppelin II', 'Led Zeppelin', 'Rock', 'Thank You', 'USA', 1),
 ('Live At Donington 1992 (Disc 1)', 'Iron Maiden', 'Rock', 'The Evil That Men Do', 'USA', 1),
 ('MK III The Final Concerts [Disc 1]', 'Deep Purple', 'Rock', 'Smoke On The Water', 'USA', 1),
 ('Machine Head', 'Deep Purple', 'Rock', 'Pictures Of Home', 'USA', 1),
 ('Master Of Puppets', 'Metallica', 'Metal', 'Master Of Puppets', 'USA', 1),
 ('News Of The World', 'Queen', 'Rock', 'Sleep On The Sidewalk', 'USA', 1),
 ('No More Tears (Remastered)', 'Ozzy Osbourne', 'Rock', 'No More Tears', 'USA', 1),
 ('Out Of Exile', 'Audioslave', 'Alternative & Punk', 'Drown Me Slowly', 'USA', 1),
 ('Pop', 'U2', 'Rock', 'Miami', 'USA', 1),
 ('Purpendicular', 'Deep Purple', 'Rock', 'A Touch Away', 'USA', 1),
 ('Restless and Wild', 'Accept', 'Rock', 'Restless and Wild', 'USA', 1),
 ('Ride The Lightning', 'Metallica', 'Metal', 'Creeping Death', 'USA', 1),
 ('Santana Live', 'Santana', 'Rock', "Just Ain't Good Enough", 'USA', 1),
 ('Somewhere in Time', 'Iron Maiden', 'Metal', 'Caught Somewhere in Time', 'USA', 1),
 ('Supernatural', 'Santana', 'Rock', 'El Farol', 'USA', 1),
 ('Ten', 'Pearl Jam', 'Rock', 'Garden', 'USA', 1),
 ('The Battle Rages On', 'Deep Purple', 'Rock', 'Anya', 'USA', 1),
 ('The Song Remains The Same (Disc 1)', 'Led Zeppelin', 'Rock', 'Dazed And Confused', 'USA', 1),
 ('Volume Dois', 'Titãs', 'Alternative & Punk', 'Caras Como Eu', 'USA', 1),
 ('Zooropa', 'U2', 'Rock', 'Lemon', 'USA', 1)]

From the table above, we see that the most popular albums are Jimi Hendrix's "Are You Experienced?" - a rock album, followed by "From The Muddy Baks Of the Wishkah. We can use the results from above to get the top three albums as shown below.

The three artists and their albums for which we should purchase are;
- Jimi Hendrix - Are You Experienced?
- Nirvana - From The Muddy Banks Of The Wishkah [live]
- The Doors - The Doors

In [112]:
%%sql
WITH nq AS (
        SELECT
            album.title AS album_title,
            artist.name AS artist_name,
            genre.name AS genre,
            track.name AS track_name,
            customer.country,
            SUM(invoice_line.quantity) AS quantity
        FROM genre
        LEFT JOIN track ON track.genre_id = genre.genre_id
        LEFT JOIN album ON album.album_id = track.album_id
        LEFT JOIN artist ON artist.artist_id = album.artist_id
        LEFT JOIN invoice_line ON invoice_line.track_id = track.track_id
        LEFT JOIN invoice ON invoice.invoice_id = invoice_line.invoice_id
        LEFT JOIN customer ON customer.customer_id = invoice.customer_id
        WHERE
            LOWER(customer.country) = "usa"
            AND genre.name IN ("Rock", "Alternative & Punk", "Metal")
        GROUP BY album.album_id
    )
SELECT
    *
FROM nq
GROUP BY album_title
ORDER BY quantity DESC
LIMIT 3;

Done.

[('Are You Experienced?', 'Jimi Hendrix', 'Rock', 'Highway Chile', 'USA', 28),
 ('From The Muddy Banks Of The Wishkah [live]', 'Nirvana', 'Rock', 'Blew', 'USA', 28),
 ('The Doors', 'The Doors', 'Rock', 'The End', 'USA', 27)]

## Analyze Sales Agent Performance

Here, we see that Jane Peacock is the top performing agent as she has made sales fo mroe than 1700. Steve, on the other hand made sales of slightly less than 1400. It is worth noting that a lot of other variables could be in play affecting these figures, therefore I will be analyzing them shortly

In [137]:
%%sql
SELECT
    e.first_name || " " || e.last_name agent_name,
    SUM(i.total) AS total_sales
FROM employee AS e
LEFT JOIN customer AS c ON e.employee_id = c.support_rep_id
LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
WHERE e.title = "Sales Support Agent"
GROUP BY employee_id
ORDER BY total_sales DESC

Done.

[('Jane Peacock', 1731.510000000004),
 ('Margaret Park', 1584.0000000000032),
 ('Steve Johnson', 1393.9200000000028)]

Here we see that the number of customers forwarded to the agents wasn't actually that different for the "top 2" best performing. For Steve, however, the difference is relatively big, therefore we can't outrightly say he was the least performing in terms of sales made. Next up we will see the countries where Margaret and Jane's customers were from

In [148]:
%%sql
SELECT
    e.first_name || " " || e.last_name agent_name,
    COUNT(c.customer_id) AS customer_count
FROM employee AS e
LEFT JOIN customer AS c ON e.employee_id = c.support_rep_id
LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
WHERE e.title = "Sales Support Agent"
GROUP BY e.employee_id
ORDER BY customer_count DESC

Done.

[('Margaret Park', 214), ('Jane Peacock', 212), ('Steve Johnson', 188)]

Most of Margaret's customers came from the US. This is not really an advantage. I will show later on that even though most customers come from the US, the average spending per customer from teh US is not actually the best. So it means this doesn't really give Margaret an edge over Jane in terms of the likelihood of customers paying. We could argue that Margaret is just good compared to Jane at her craft

In [166]:
%%sql
SELECT *
FROM (
    SELECT
        e.first_name || " " || e.last_name agent_name,
        c.country,
        COUNT(e.employee_id) AS country_count
    FROM employee AS e
    LEFT JOIN customer AS c ON e.employee_id = c.support_rep_id
    LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
    WHERE e.title = "Sales Support Agent"
    GROUP BY c.country, e.employee_id
    ORDER BY country_count DESC
)
WHERE agent_name = "Margaret Park"

Done.

[('Margaret Park', 'USA', 63),
 ('Margaret Park', 'Portugal', 29),
 ('Margaret Park', 'Brazil', 27),
 ('Margaret Park', 'Czech Republic', 18),
 ('Margaret Park', 'France', 18),
 ('Margaret Park', 'Australia', 10),
 ('Margaret Park', 'Denmark', 10),
 ('Margaret Park', 'Poland', 10),
 ('Margaret Park', 'Norway', 9),
 ('Margaret Park', 'Canada', 8),
 ('Margaret Park', 'Belgium', 7),
 ('Margaret Park', 'Argentina', 5)]

In terms of total spending, the US recorded the highest. The figure that follows this one though that the average spending per customer doesn't paint the same picture'

In [167]:
%%sql
SELECT *
FROM (
    SELECT
        c.country,
        SUM(i.total) total_spending
    FROM customer as c
    LEFT JOIN invoice AS i ON c.customer_id = i.customer_id
    GROUP BY c.country
)
ORDER BY total_spending DESC

Done.

[('USA', 1040.4900000000005),
 ('Canada', 535.59),
 ('Brazil', 427.6799999999999),
 ('France', 389.07000000000005),
 ('Germany', 334.61999999999995),
 ('Czech Republic', 273.23999999999995),
 ('United Kingdom', 245.52),
 ('Portugal', 185.13),
 ('India', 183.14999999999995),
 ('Ireland', 114.83999999999997),
 ('Spain', 98.01),
 ('Chile', 97.02000000000001),
 ('Australia', 81.18),
 ('Finland', 79.2),
 ('Hungary', 78.21),
 ('Poland', 76.22999999999999),
 ('Sweden', 75.24),
 ('Norway', 72.27000000000001),
 ('Austria', 69.3),
 ('Netherlands', 65.34),
 ('Belgium', 60.38999999999999),
 ('Italy', 50.49),
 ('Argentina', 39.6),
 ('Denmark', 37.61999999999999)]

Here we see the countries with highest average spending per customer

In [171]:
%%sql
SELECT *
FROM (
    SELECT
        c.country,
        SUM(i.total) / COUNT(DISTINCT(c.customer_id)) AS average_spending
    FROM customer as c
    LEFT JOIN invoice AS i ON c.customer_id = i.customer_id
    GROUP BY c.country
    HAVING COUNT(DISTINCT(c.customer_id)) > 3
)
ORDER BY average_spending DESC

Done.

[('Brazil', 85.53599999999997),
 ('Germany', 83.65499999999999),
 ('USA', 80.03769230769234),
 ('France', 77.81400000000001),
 ('Canada', 66.94875)]

In [172]:
%%sql
SELECT *
FROM (
    SELECT
        e.first_name || " " || e.last_name agent_name,
        c.country,
        COUNT(e.employee_id) AS country_count
    FROM employee AS e
    LEFT JOIN customer AS c ON e.employee_id = c.support_rep_id
    LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
    WHERE e.title = "Sales Support Agent"
    GROUP BY c.country, e.employee_id
    ORDER BY country_count DESC
)
WHERE agent_name = "Jane Peacock"

Done.

[('Jane Peacock', 'Canada', 47),
 ('Jane Peacock', 'USA', 25),
 ('Jane Peacock', 'Brazil', 24),
 ('Jane Peacock', 'France', 23),
 ('Jane Peacock', 'India', 21),
 ('Jane Peacock', 'Germany', 19),
 ('Jane Peacock', 'United Kingdom', 19),
 ('Jane Peacock', 'Ireland', 13),
 ('Jane Peacock', 'Finland', 11),
 ('Jane Peacock', 'Hungary', 10)]

## Analyzing Sales By Country

In [316]:
%%sql
        SELECT
            c.country,
            SUM(i.total) AS order_value
        FROM customer AS c
        LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
        GROUP BY c.country

Done.

[('Argentina', 39.6),
 ('Australia', 81.18),
 ('Austria', 69.3),
 ('Belgium', 60.38999999999999),
 ('Brazil', 427.6799999999999),
 ('Canada', 535.59),
 ('Chile', 97.02000000000001),
 ('Czech Republic', 273.23999999999995),
 ('Denmark', 37.61999999999999),
 ('Finland', 79.2),
 ('France', 389.07000000000005),
 ('Germany', 334.61999999999995),
 ('Hungary', 78.21),
 ('India', 183.14999999999995),
 ('Ireland', 114.83999999999997),
 ('Italy', 50.49),
 ('Netherlands', 65.34),
 ('Norway', 72.27000000000001),
 ('Poland', 76.22999999999999),
 ('Portugal', 185.13),
 ('Spain', 98.01),
 ('Sweden', 75.24),
 ('USA', 1040.4900000000005),
 ('United Kingdom', 245.52)]

In [322]:
%%sql
WITH country_sales AS
    (
        SELECT
            c.country,
            SUM(i.total) AS sales
        FROM customer AS c
        LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
        GROUP BY c.country
    ),
    country_count AS
    (
        SELECT
            c.country,
            CASE WHEN COUNT(c.country) > 1 THEN c.country
                ELSE "Other"
                END AS country_val,
            CASE WHEN COUNT(c.country) > 1 THEN 0
                ELSE 1
                END AS position,
            COUNT(c.country) AS count
        FROM customer AS c
        GROUP BY c.country
    ),
    country_order AS
    (
        SELECT
            c.country,
            SUM(i.total) AS order_value
        FROM customer AS c
        LEFT JOIN invoice AS i ON i.customer_id = c.customer_id
        GROUP BY i.billing_country
    )
SELECT
    count.country_val AS country,
    SUM(count.count) AS customer_count,
    ROUND(SUM(sales.sales), 2) AS total_sales,
    ROUND(SUM(sales.sales) / SUM(count.count), 2) AS sales_per_customer,
    ROUND(orders.order_value, 2) AS order_value
FROM country_count AS count
LEFT JOIN country_sales AS sales ON sales.country = count.country
LEFT JOIN country_order AS orders ON sales.country = orders.country
GROUP BY country_val
ORDER BY position, sales DESC

Done.

[('USA', 13, 1040.49, 80.04, 1040.49),
 ('Canada', 8, 535.59, 66.95, 535.59),
 ('Brazil', 5, 427.68, 85.54, 427.68),
 ('France', 5, 389.07, 77.81, 389.07),
 ('Germany', 4, 334.62, 83.65, 334.62),
 ('Czech Republic', 2, 273.24, 136.62, 273.24),
 ('United Kingdom', 3, 245.52, 81.84, 245.52),
 ('Portugal', 2, 185.13, 92.56, 185.13),
 ('India', 2, 183.15, 91.57, 183.15),
 ('Other', 15, 1094.94, 73.0, 75.24)]

## Albums Vs. Individual Tracks

Most people bought a number of tracks and not full albums. Here, we see the difference is overwhelming. over 80% of people bought tracks individually, while less than 20% bought full albums

Since most people buy individual tracks, it would be good if it is made simple for users to utilize this approach

In [396]:
%%sql
WITH track_info AS
    (
        SELECT
            i.invoice_id,
            track.track_id,
            album.album_id
        FROM invoice AS i
        LEFT JOIN invoice_line AS il ON il.invoice_id = i.invoice_id
        LEFT JOIN track ON track.track_id = il.track_id
        LEFT JOIN album ON track.album_id = album.album_id
        ORDER BY 1
    ),
    invoice_info AS
    (
        SELECT
            invoice_id,
            album_id,
            COUNT(DISTINCT(track_id)) AS invoice_distinct_tracks,
            COUNT(DISTINCT(album_id)) AS invoice_distinct_albums
        FROM track_info
        GROUP BY invoice_id   
    ),
    album_info AS
    (
        SELECT
            album.album_id,
            COUNT(DISTINCT(track.track_id)) AS album_distinct_tracks
        FROM album
        LEFT JOIN track ON album.album_id = track.album_id
        GROUP BY album.album_id
    ),
    album_purchase AS
    (
         SELECT
            i.invoice_id,
            CASE WHEN i.invoice_distinct_tracks = a.album_distinct_tracks
            AND  i.invoice_distinct_albums = 1
            THEN 1 ELSE 0 
            END AS album_purchase
        FROM invoice_info AS i
        LEFT JOIN album_info AS a ON i.album_id = a.album_id   
    )
SELECT
    album_purchase,
    COUNT(invoice_id) AS count,
    ROUND(CAST(COUNT(invoice_id) AS FLOAT) / (SELECT COUNT(invoice_id) FROM album_purchase), 2) AS pct_purchase
FROM album_purchase
GROUP BY album_purchase

Done.

[(0, 500, 0.81), (1, 114, 0.19)]